Liebe/r <%= @order.bill_address.firstname %>,

============================================================
Du hast unter der Bestellnummer: <%= @order.number %>
folgende Dinge bei uns bestellt:
============================================================
<% @shipment.manifest.each do |item| %>
  <%= item.variant.sku %> <%= raw(item.variant.product.name) %> <%= raw(item.variant.options_text) -%> (<%=item.quantity%>) @ <%= item.single_money %> = <%= item.display_amount %>
<% end %>

============================================================

Deine Bestellung wurde soeben versendet und sollte in 2-3 Tagen bei Dir eintreffen.

Den Status deiner Bestellung kannst du auch über folgenden Link informieren:
https://my-vana.de/bestellung?id=<%= URI::encode(Base64.encode64(@order.number + '::' + @order.token)) %>

Vielen Dank für deine Bestellung!
Wir würden uns freuen, wenn du mit uns in Kontakt bleibst:
<a href="https://facebook.com/myvanade" target="_blank">https://facebook.com/myvanade</a>
<a href="https://twitter.com/my_vana_de" target="_blank">https://twitter.com/my_vana_de</a>
<a href="http://instagram.com/my_vana_de" target="_blank">http://instagram.com/my_vana_de</a>

Dein VANA-Team wünscht dir noch einen super sonnigen Tag, und bis demnächst!


--
OMM Ideas UG (haftungsbeschränkt) i.G.
Trochtelfingerstr. 4, 70567 Stuttgart
Amtsgericht - Registergericht - Stuttgart 
HRB beantragt, Sitz Stuttgart 
Geschäftsführer: Malte Horstmann, Olaf Horstmann

